@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Oliver-Regular';
    src: url('/fonts/Oliver-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}